<h3 class="text-center">
	<% if !user_signed_in? %>
	<%= link_to 'List yourself to give music lessons', new_user_registration_path %>
	<% end %>
</h3>

<h3>List of Music Teachers</h3>
<% if params[:search] %>
	<% @users.each do |user| %>
		<% if user.tag_list != [] && user.user_type == "Teacher" %>
			<% user.tag_list.each do |tag| %>
				<% if params[:search].include?(tag)%>
					<h4><%= link_to user.name, user %></h4>
					<p>Tags:
						<% user.tag_list.each do |tag| %>
							<%= tag %>
						<% end %>
					</p>
				<% break %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<% @users.each do |user| %>
		<%= render 'users/profile', :user => user %>
			</p>
		<% end %>
	<% end %>
       <% end %>	
<% end %>

