<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>Agreed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.start_time %></td>
    <td><%= event.agreed %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_user_event_path %>
