<div id="homepage">

      <div class="span8" style="margin-top:75px;">
        <h1 class="mainheader center" style="color:#fff;font-size:110px;line-height:52px;margin-bottom:55px;text-shadow:black 0.1em 0.1em 0.2em; line-height:80px;">
       Tagline. TAGLINE. Tagline.
        </h1>
          <h3 style="text-shadow:black 0.1em 0.1em 0.2em; ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	</h3>
<br>
          <form accept-charset="UTF-8" action="/users/sign_up" class="form-inline" method="get"><div style="margin:0;padding:0;display:inline;margin:75px;"><input name="utf8" value="✓" type="hidden"></div>
          <input id="email" name="email" placeholder="Email address" value="" type="text">
          <button class="btn btn-large" name="button" type="submit">Sign Up</button>
</form>
 </div>
  </div>
</div>
<br>

<script type="text/javascript">
  $(document).ready(function(){
      $('.content').replaceWith(function() { return $(this).contents(); });
    });
</script>
